/*----------- colors -------------*/
$main-blue: #57859d;
$dark-gray: #313131;
$light-gray: #e5e5e5;

/*------------ misc ------------*/
$footer-height: 345px;


/*----------- normalize ----------*/
@import "_misc/normalize.scss";
